body{background-color: #cf9bcc;}
/* Mudar a cor de fundo*/

.cabecalho { 
    display: flex; /*tipo de caixa de renderização (none,inline,block,inblock)*/
    justify-content: center;
    font-size: 25px;
    font-family:arial black;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.204);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 5);}
    
    img{
        height: 350px;/* ALTURA*/
        border-radius: 50%;/* largura*/
        border: 7px solid purple;
    top: 10px;} /*borda*/

        img,p{float: left;}

        .nome{ color: black;/* cor*/
            font-family: Arial, Helvetica, sans-serif; /*fonte de letra*/
            font-size: 300%; /* tamanho do texto*/
            margin-left: 26%;} /* define a margem a esquerda de um elemento*/
            
            #funcoes{color: black;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 150%;
                margin-left: 24%;}
            .informacoes{  
                margin-left: 26%;
                font-family: Arial, Helvetica, sans-serif;
                justify-content:space-between;}
               /* list-style-type: none;  /* tira o marcador (ordenada e desordenada*/
          .icones{border: 2px solid black;;}
            .lknd{height: 90px;
                border-radius: 50%;
                border: 7px solid purple;
                margin-left: 14%}
                .gmail{height: 90px;
                    border-radius: 50%;
                    border: 7px solid purple;
                    margin-left: 14%}
            .gthb{height: 90px;
                border-radius: 50%;
                border: 7px solid purple;
                margin-left: 14%
                }
             
.site{font-size: 120%; margin-left: 30%
;}

            .texto-principal{clear: both;} 

            .subdosub{ font-size: 150%;}
            
            .texto{
                font-family: Arial, Helvetica, sans-serif;
                justify-content:space-between;
                font-size: 130%;}

                @media (max-width:380px){
                    #container{  flex-direction: column;   }


                      
            .texto{
                        margin: 5px 0px 5px 0px;
                        width: 100%;
                    }
                
                @media(max-width:768px){
                    #container {
                        flex-wrap: wrap}}
                
                
                @media (max-width:640px){
                    .bloco{
                        background: linear-gradient(to right,blue,green);
                        width: 40%;
                        margin: 5px;
                        border-radius: 10px;
                        box-shadow:0px 5px 5px 0px red;
                        min-height: 100px;
                    }
                }
            }